*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-color:aqua;
    font-family: cursive;
    >h1{
        font-size:60px;
    }
    >p{
        border:2px solid black;
        padding:20px;
        width: 40%;
        margin:50px auto;
    }
    >img{
        width: 400px;
        height: 400px;
    }
}


.about{
    width: 100%;
    height: 100vh;
    >content{
        width: 60%;
        height: 100%;
        border:3px solid gold;
        padding:30px;
    }
    >figure{
        width: 40%;
        height: 400px;
        >img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


.services{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    >div{
        width: 300px;
        height: 300px;
        background-color:darkblue;
    }
}